/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #178087;
  --ifm-color-primary-dark: #157379;
  --ifm-color-primary-darker: #146d73;
  --ifm-color-primary-darkest: #105a5f;
  --ifm-color-primary-light: #198d94;
  --ifm-color-primary-lighter: #1a939b;
  --ifm-color-primary-lightest: #1ea6af;
  --ifm-code-font-size: 95%;
  --ifm-menu-link-padding-vertical: 0.5rem;
}

:root {
  --ifm-font-family-base: "Inter";
  --doc-sidebar-width: 308px !important;
}

.theme-doc-sidebar-menu {
  font-size: 15px;
}

.menu__list-item:last-child {
  padding-bottom: 0.5rem;
}

.menu__link {
  font-family: "Lexend";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend";
}

h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: uppercase;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #3ed0dd;
  --ifm-color-primary-dark: #26cad9;
  --ifm-color-primary-darker: #24bfcd;
  --ifm-color-primary-darkest: #1e9da8;
  --ifm-color-primary-light: #56d6e1;
  --ifm-color-primary-lighter: #62d9e3;
  --ifm-color-primary-lightest: #86e2ea;
  --ifm-menu-color: #f2eded;
}

:root {
  --docusaurus-highlighted-code-line-bg: #e6ecf3;
}

/* If you have a different syntax highlighting theme for dark mode. */
[data-theme="dark"] {
  /* Color which works with dark mode syntax highlighting theme */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Inter");

.operators-tabs {
  font-size: 0.8rem;
  text-align: center;
}

.header-github-link {
  align-items: center;
  display: flex;
}

.header-demo-link {
  align-items: center;
  display: flex;
}

.header-demo-link:before {
  align-self: center;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTUiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCA5NSAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9Ijk1IiBoZWlnaHQ9IjM2IiByeD0iOCIgZmlsbD0iIzNFRDBERCIvPgo8cGF0aCBkPSJNMTMuNTYzOSAyM1YxMi44MTgySDE1LjEwMDFWMjEuNjc3NkgxOS43MTM4VjIzSDEzLjU2MzlaTTIxLjM0NjkgMjNWMTUuMzYzNkgyMi44MzM1VjIzSDIxLjM0NjlaTTIyLjA5NzcgMTQuMTg1NEMyMS44MzkxIDE0LjE4NTQgMjEuNjE3MSAxNC4wOTkyIDIxLjQzMTUgMTMuOTI2OEMyMS4yNDkyIDEzLjc1MTIgMjEuMTU4IDEzLjU0MjQgMjEuMTU4IDEzLjMwMDRDMjEuMTU4IDEzLjA1NTIgMjEuMjQ5MiAxMi44NDY0IDIxLjQzMTUgMTIuNjc0QzIxLjYxNzEgMTIuNDk4MyAyMS44MzkxIDEyLjQxMDUgMjIuMDk3NyAxMi40MTA1QzIyLjM1NjIgMTIuNDEwNSAyMi41NzY2IDEyLjQ5ODMgMjIuNzU4OSAxMi42NzRDMjIuOTQ0NSAxMi44NDY0IDIzLjAzNzMgMTMuMDU1MiAyMy4wMzczIDEzLjMwMDRDMjMuMDM3MyAxMy41NDI0IDIyLjk0NDUgMTMuNzUxMiAyMi43NTg5IDEzLjkyNjhDMjIuNTc2NiAxNC4wOTkyIDIyLjM1NjIgMTQuMTg1NCAyMi4wOTc3IDE0LjE4NTRaTTMxLjM2NTkgMTUuMzYzNkwyOC41OTY4IDIzSDI3LjAwNTlMMjQuMjMxNyAxNS4zNjM2SDI1LjgyNzZMMjcuNzYxNSAyMS4yNDAxSDI3Ljg0MTFMMjkuNzcwMSAxNS4zNjM2SDMxLjM2NTlaTTM1Ljc5NDQgMjMuMTU0MUMzNS4wNDIgMjMuMTU0MSAzNC4zOTQxIDIyLjk5MzQgMzMuODUwNSAyMi42NzE5QzMzLjMxMDMgMjIuMzQ3MSAzMi44OTI2IDIxLjg5MTMgMzIuNTk3NyAyMS4zMDQ3QzMyLjMwNiAyMC43MTQ3IDMyLjE2MDIgMjAuMDIzNyAzMi4xNjAyIDE5LjIzMTVDMzIuMTYwMiAxOC40NDkzIDMyLjMwNiAxNy43NTk5IDMyLjU5NzcgMTcuMTYzNEMzMi44OTI2IDE2LjU2NjggMzMuMzAzNiAxNi4xMDExIDMzLjgzMDYgMTUuNzY2M0MzNC4zNjA5IDE1LjQzMTYgMzQuOTgwNyAxNS4yNjQyIDM1LjY5IDE1LjI2NDJDMzYuMTIwOSAxNS4yNjQyIDM2LjUzODUgMTUuMzM1NSAzNi45NDI4IDE1LjQ3OEMzNy4zNDcyIDE1LjYyMDUgMzcuNzEwMSAxNS44NDQyIDM4LjAzMTYgMTYuMTQ5MUMzOC4zNTMxIDE2LjQ1NDEgMzguNjA2NyAxNi44NTAxIDM4Ljc5MjMgMTcuMzM3NEMzOC45Nzc5IDE3LjgyMTMgMzkuMDcwNyAxOC40MDk2IDM5LjA3MDcgMTkuMTAyM1YxOS42MjkzSDMzLjAwMDRWMTguNTE1NkgzNy42MTRDMzcuNjE0IDE4LjEyNDUgMzcuNTM0NCAxNy43NzgyIDM3LjM3NTQgMTcuNDc2NkMzNy4yMTYzIDE3LjE3MTYgMzYuOTkyNSAxNi45MzEzIDM2LjcwNDIgMTYuNzU1N0MzNi40MTkyIDE2LjU4IDM2LjA4NDQgMTYuNDkyMiAzNS42OTk5IDE2LjQ5MjJDMzUuMjgyMyAxNi40OTIyIDM0LjkxNzcgMTYuNTk0OSAzNC42MDYyIDE2LjgwMDRDMzQuMjk3OSAxNy4wMDI2IDM0LjA1OTMgMTcuMjY3OCAzMy44OTAzIDE3LjU5NTlDMzMuNzI0NiAxNy45MjA3IDMzLjY0MTcgMTguMjczNyAzMy42NDE3IDE4LjY1NDhWMTkuNTI0OUMzMy42NDE3IDIwLjAzNTMgMzMuNzMxMiAyMC40Njk1IDMzLjkxMDIgMjAuODI3NEMzNC4wOTI0IDIxLjE4NTQgMzQuMzQ2IDIxLjQ1ODggMzQuNjcwOCAyMS42NDc3QzM0Ljk5NTYgMjEuODMzMyAzNS4zNzUxIDIxLjkyNjEgMzUuODA5MyAyMS45MjYxQzM2LjA5MSAyMS45MjYxIDM2LjM0NzkgMjEuODg2NCAzNi41Nzk5IDIxLjgwNjhDMzYuODExOSAyMS43MjQgMzcuMDEyNCAyMS42MDEzIDM3LjE4MTUgMjEuNDM4OUMzNy4zNTA1IDIxLjI3NjUgMzcuNDc5OCAyMS4wNzYgMzcuNTY5MiAyMC44Mzc0TDM4Ljk3NjIgMjEuMDkwOUMzOC44NjM1IDIxLjUwNTIgMzguNjYxMyAyMS44NjgxIDM4LjM2OTcgMjIuMTc5N0MzOC4wODEzIDIyLjQ4NzkgMzcuNzE4NCAyMi43MjgyIDM3LjI4MDkgMjIuOTAwNkMzNi44NDY3IDIzLjA2OTYgMzYuMzUxMiAyMy4xNTQxIDM1Ljc5NDQgMjMuMTU0MVpNNDcuODQwNiAyM0g0NC41NDQ0VjEyLjgxODJINDcuOTQ1QzQ4Ljk0MjYgMTIuODE4MiA0OS43OTk0IDEzLjAyMiA1MC41MTUzIDEzLjQyOTdDNTEuMjMxMiAxMy44MzQgNTEuNzc5NyAxNC40MTU3IDUyLjE2MDkgMTUuMTc0N0M1Mi41NDUzIDE1LjkzMDQgNTIuNzM3NiAxNi44MzY5IDUyLjczNzYgMTcuODk0MkM1Mi43Mzc2IDE4Ljk1NDggNTIuNTQzNyAxOS44NjYyIDUyLjE1NTkgMjAuNjI4NkM1MS43NzE0IDIxLjM5MDkgNTEuMjE0NiAyMS45Nzc1IDUwLjQ4NTQgMjIuMzg4NUM0OS43NTYzIDIyLjc5NjIgNDguODc0NiAyMyA0Ny44NDA2IDIzWk00Ni4wODA2IDIxLjY1NzdINDcuNzU2QzQ4LjUzMTYgMjEuNjU3NyA0OS4xNzYzIDIxLjUxMTggNDkuNjkgMjEuMjIwMkM1MC4yMDM3IDIwLjkyNTIgNTAuNTg4MiAyMC40OTkzIDUwLjg0MzQgMTkuOTQyNUM1MS4wOTg2IDE5LjM4MjMgNTEuMjI2MiAxOC42OTk2IDUxLjIyNjIgMTcuODk0MkM1MS4yMjYyIDE3LjA5NTQgNTEuMDk4NiAxNi40MTc2IDUwLjg0MzQgMTUuODYwOEM1MC41OTE1IDE1LjMwNCA1MC4yMTUzIDE0Ljg4MTQgNDkuNzE0OCAxNC41OTNDNDkuMjE0NCAxNC4zMDQ3IDQ4LjU5MjkgMTQuMTYwNSA0Ny44NTA1IDE0LjE2MDVINDYuMDgwNlYyMS42NTc3Wk01Ny44MTk4IDIzLjE1NDFDNTcuMDY3NCAyMy4xNTQxIDU2LjQxOTQgMjIuOTkzNCA1NS44NzU5IDIyLjY3MTlDNTUuMzM1NiAyMi4zNDcxIDU0LjkxOCAyMS44OTEzIDU0LjYyMyAyMS4zMDQ3QzU0LjMzMTQgMjAuNzE0NyA1NC4xODU1IDIwLjAyMzcgNTQuMTg1NSAxOS4yMzE1QzU0LjE4NTUgMTguNDQ5MyA1NC4zMzE0IDE3Ljc1OTkgNTQuNjIzIDE3LjE2MzRDNTQuOTE4IDE2LjU2NjggNTUuMzI5IDE2LjEwMTEgNTUuODU2IDE1Ljc2NjNDNTYuMzg2MyAxNS40MzE2IDU3LjAwNjEgMTUuMjY0MiA1Ny43MTU0IDE1LjI2NDJDNTguMTQ2MiAxNS4yNjQyIDU4LjU2MzkgMTUuMzM1NSA1OC45NjgyIDE1LjQ3OEM1OS4zNzI2IDE1LjYyMDUgNTkuNzM1NSAxNS44NDQyIDYwLjA1NyAxNi4xNDkxQzYwLjM3ODUgMTYuNDU0MSA2MC42MzIgMTYuODUwMSA2MC44MTc2IDE3LjMzNzRDNjEuMDAzMyAxNy44MjEzIDYxLjA5NjEgMTguNDA5NiA2MS4wOTYxIDE5LjEwMjNWMTkuNjI5M0g1NS4wMjU3VjE4LjUxNTZINTkuNjM5NEM1OS42Mzk0IDE4LjEyNDUgNTkuNTU5OCAxNy43NzgyIDU5LjQwMDcgMTcuNDc2NkM1OS4yNDE3IDE3LjE3MTYgNTkuMDE3OSAxNi45MzEzIDU4LjcyOTYgMTYuNzU1N0M1OC40NDQ1IDE2LjU4IDU4LjEwOTggMTYuNDkyMiA1Ny43MjUzIDE2LjQ5MjJDNTcuMzA3NyAxNi40OTIyIDU2Ljk0MzEgMTYuNTk0OSA1Ni42MzE2IDE2LjgwMDRDNTYuMzIzMyAxNy4wMDI2IDU2LjA4NDcgMTcuMjY3OCA1NS45MTU3IDE3LjU5NTlDNTUuNzQ5OSAxNy45MjA3IDU1LjY2NzEgMTguMjczNyA1NS42NjcxIDE4LjY1NDhWMTkuNTI0OUM1NS42NjcxIDIwLjAzNTMgNTUuNzU2NiAyMC40Njk1IDU1LjkzNTUgMjAuODI3NEM1Ni4xMTc4IDIxLjE4NTQgNTYuMzcxNCAyMS40NTg4IDU2LjY5NjIgMjEuNjQ3N0M1Ny4wMjEgMjEuODMzMyA1Ny40MDA1IDIxLjkyNjEgNTcuODM0NyAyMS45MjYxQzU4LjExNjQgMjEuOTI2MSA1OC4zNzMzIDIxLjg4NjQgNTguNjA1MyAyMS44MDY4QzU4LjgzNzMgMjEuNzI0IDU5LjAzNzggMjEuNjAxMyA1OS4yMDY5IDIxLjQzODlDNTkuMzc1OSAyMS4yNzY1IDU5LjUwNTEgMjEuMDc2IDU5LjU5NDYgMjAuODM3NEw2MS4wMDE2IDIxLjA5MDlDNjAuODg4OSAyMS41MDUyIDYwLjY4NjcgMjEuODY4MSA2MC4zOTUxIDIyLjE3OTdDNjAuMTA2NyAyMi40ODc5IDU5Ljc0MzggMjIuNzI4MiA1OS4zMDYzIDIyLjkwMDZDNTguODcyMSAyMy4wNjk2IDU4LjM3NjYgMjMuMTU0MSA1Ny44MTk4IDIzLjE1NDFaTTYyLjc0NTQgMjNWMTUuMzYzNkg2NC4xNzIyVjE2LjYwNjVINjQuMjY2N0M2NC40MjU4IDE2LjE4NTYgNjQuNjg2IDE1Ljg1NzUgNjUuMDQ3MiAxNS42MjIyQzY1LjQwODUgMTUuMzgzNSA2NS44NDEgMTUuMjY0MiA2Ni4zNDQ4IDE1LjI2NDJDNjYuODU1MiAxNS4yNjQyIDY3LjI4MjggMTUuMzgzNSA2Ny42Mjc1IDE1LjYyMjJDNjcuOTc1NSAxNS44NjA4IDY4LjIzMjQgMTYuMTg4OSA2OC4zOTgxIDE2LjYwNjVINjguNDc3NkM2OC42NTk5IDE2LjE5ODkgNjguOTQ5OSAxNS44NzQxIDY5LjM0NzcgMTUuNjMyMUM2OS43NDU0IDE1LjM4NjggNzAuMjE5MyAxNS4yNjQyIDcwLjc2OTUgMTUuMjY0MkM3MS40NjIyIDE1LjI2NDIgNzIuMDI3MyAxNS40ODEzIDcyLjQ2NDggMTUuOTE1NUM3Mi45MDU3IDE2LjM0OTcgNzMuMTI2MSAxNy4wMDQzIDczLjEyNjEgMTcuODc5M1YyM0g3MS42Mzk2VjE4LjAxODVDNzEuNjM5NiAxNy41MDE0IDcxLjQ5ODcgMTcuMTI2OSA3MS4yMTcgMTYuODk0OUM3MC45MzUzIDE2LjY2MjkgNzAuNTk4OCAxNi41NDY5IDcwLjIwNzcgMTYuNTQ2OUM2OS43MjM4IDE2LjU0NjkgNjkuMzQ3NyAxNi42OTYgNjkuMDc5MiAxNi45OTQzQzY4LjgxMDcgMTcuMjg5MyA2OC42NzY1IDE3LjY2ODggNjguNjc2NSAxOC4xMzI4VjIzSDY3LjE5NVYxNy45MjRDNjcuMTk1IDE3LjUwOTcgNjcuMDY1NyAxNy4xNzY2IDY2LjgwNzIgMTYuOTI0N0M2Ni41NDg3IDE2LjY3MjggNjYuMjEyMiAxNi41NDY5IDY1Ljc5NzkgMTYuNTQ2OUM2NS41MTYyIDE2LjU0NjkgNjUuMjU2IDE2LjYyMTQgNjUuMDE3NCAxNi43NzA2QzY0Ljc4MjEgMTYuOTE2NCA2NC41OTE1IDE3LjEyMDMgNjQuNDQ1NyAxNy4zODIxQzY0LjMwMzEgMTcuNjQzOSA2NC4yMzE5IDE3Ljk0NzIgNjQuMjMxOSAxOC4yOTE5VjIzSDYyLjc0NTRaTTc4LjMzNSAyMy4xNTQxQzc3LjYxOTEgMjMuMTU0MSA3Ni45OTQ0IDIyLjk5MDEgNzYuNDYwOCAyMi42NjE5Qzc1LjkyNzEgMjIuMzMzOCA3NS41MTI4IDIxLjg3NDggNzUuMjE3OSAyMS4yODQ4Qzc0LjkyMjkgMjAuNjk0OCA3NC43NzU0IDIwLjAwNTQgNzQuNzc1NCAxOS4yMTY2Qzc0Ljc3NTQgMTguNDI0NSA3NC45MjI5IDE3LjczMTggNzUuMjE3OSAxNy4xMzg1Qzc1LjUxMjggMTYuNTQ1MiA3NS45MjcxIDE2LjA4NDUgNzYuNDYwOCAxNS43NTY0Qzc2Ljk5NDQgMTUuNDI4MyA3Ny42MTkxIDE1LjI2NDIgNzguMzM1IDE1LjI2NDJDNzkuMDUxIDE1LjI2NDIgNzkuNjc1NyAxNS40MjgzIDgwLjIwOTMgMTUuNzU2NEM4MC43NDMgMTYuMDg0NSA4MS4xNTczIDE2LjU0NTIgODEuNDUyMiAxNy4xMzg1QzgxLjc0NzIgMTcuNzMxOCA4MS44OTQ3IDE4LjQyNDUgODEuODk0NyAxOS4yMTY2QzgxLjg5NDcgMjAuMDA1NCA4MS43NDcyIDIwLjY5NDggODEuNDUyMiAyMS4yODQ4QzgxLjE1NzMgMjEuODc0OCA4MC43NDMgMjIuMzMzOCA4MC4yMDkzIDIyLjY2MTlDNzkuNjc1NyAyMi45OTAxIDc5LjA1MSAyMy4xNTQxIDc4LjMzNSAyMy4xNTQxWk03OC4zNCAyMS45MDYyQzc4LjgwNCAyMS45MDYyIDc5LjE4ODUgMjEuNzgzNiA3OS40OTM0IDIxLjUzODRDNzkuNzk4NCAyMS4yOTMxIDgwLjAyMzcgMjAuOTY2NiA4MC4xNjk2IDIwLjU1ODlDODAuMzE4NyAyMC4xNTEzIDgwLjM5MzMgMTkuNzAyMiA4MC4zOTMzIDE5LjIxMTZDODAuMzkzMyAxOC43MjQ0IDgwLjMxODcgMTguMjc3IDgwLjE2OTYgMTcuODY5M0M4MC4wMjM3IDE3LjQ1ODMgNzkuNzk4NCAxNy4xMjg2IDc5LjQ5MzQgMTYuODhDNzkuMTg4NSAxNi42MzE0IDc4LjgwNCAxNi41MDcxIDc4LjM0IDE2LjUwNzFDNzcuODcyNyAxNi41MDcxIDc3LjQ4NDkgMTYuNjMxNCA3Ny4xNzY3IDE2Ljg4Qzc2Ljg3MTcgMTcuMTI4NiA3Ni42NDQ3IDE3LjQ1ODMgNzYuNDk1NiAxNy44NjkzQzc2LjM0OTcgMTguMjc3IDc2LjI3NjggMTguNzI0NCA3Ni4yNzY4IDE5LjIxMTZDNzYuMjc2OCAxOS43MDIyIDc2LjM0OTcgMjAuMTUxMyA3Ni40OTU2IDIwLjU1ODlDNzYuNjQ0NyAyMC45NjY2IDc2Ljg3MTcgMjEuMjkzMSA3Ny4xNzY3IDIxLjUzODRDNzcuNDg0OSAyMS43ODM2IDc3Ljg3MjcgMjEuOTA2MiA3OC4zNCAyMS45MDYyWiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC45Ii8+Cjwvc3ZnPgo=")
    0 0 / contain;
  content: "";
  display: inline-flex;
  height: 36px;
  width: 95px;
}

html[data-theme="dark"] .header-github-link:before {
  align-self: center;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjZTNlM2UzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDBDMy41OCAwIDAgMy41OCAwIDhjMCAzLjU0IDIuMjkgNi41MyA1LjQ3IDcuNTkuNC4wNy41NS0uMTcuNTUtLjM4IDAtLjE5LS4wMS0uODItLjAxLTEuNDktMi4wMS4zNy0yLjUzLS40OS0yLjY5LS45NC0uMDktLjIzLS40OC0uOTQtLjgyLTEuMTMtLjI4LS4xNS0uNjgtLjUyLS4wMS0uNTMuNjMtLjAxIDEuMDguNTggMS4yMy44Mi43MiAxLjIxIDEuODcuODcgMi4zMy42Ni4wNy0uNTIuMjgtLjg3LjUxLTEuMDctMS43OC0uMi0zLjY0LS44OS0zLjY0LTMuOTUgMC0uODcuMzEtMS41OS44Mi0yLjE1LS4wOC0uMi0uMzYtMS4wMi4wOC0yLjEyIDAgMCAuNjctLjIxIDIuMi44Mi42NC0uMTggMS4zMi0uMjcgMi0uMjcuNjggMCAxLjM2LjA5IDIgLjI3IDEuNTMtMS4wNCAyLjItLjgyIDIuMi0uODIuNDQgMS4xLjE2IDEuOTIuMDggMi4xMi41MS41Ni44MiAxLjI3LjgyIDIuMTUgMCAzLjA3LTEuODcgMy43NS0zLjY1IDMuOTUuMjkuMjUuNTQuNzMuNTQgMS40OCAwIDEuMDctLjAxIDEuOTMtLjAxIDIuMiAwIC4yMS4xNS40Ni41NS4zOEE4LjAxMyA4LjAxMyAwIDAwMTYgOGMwLTQuNDItMy41OC04LTgtOHoiLz48L3N2Zz4=")
    0 0 / contain;
  content: "";
  display: inline-flex;
  height: 24px;
  width: 24px;
  color: var(--ifm-navbar-link-color);
}

html[data-theme="light"] .header-github-link:before {
  align-self: center;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjMWMxZTIxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDBDMy41OCAwIDAgMy41OCAwIDhjMCAzLjU0IDIuMjkgNi41MyA1LjQ3IDcuNTkuNC4wNy41NS0uMTcuNTUtLjM4IDAtLjE5LS4wMS0uODItLjAxLTEuNDktMi4wMS4zNy0yLjUzLS40OS0yLjY5LS45NC0uMDktLjIzLS40OC0uOTQtLjgyLTEuMTMtLjI4LS4xNS0uNjgtLjUyLS4wMS0uNTMuNjMtLjAxIDEuMDguNTggMS4yMy44Mi43MiAxLjIxIDEuODcuODcgMi4zMy42Ni4wNy0uNTIuMjgtLjg3LjUxLTEuMDctMS43OC0uMi0zLjY0LS44OS0zLjY0LTMuOTUgMC0uODcuMzEtMS41OS44Mi0yLjE1LS4wOC0uMi0uMzYtMS4wMi4wOC0yLjEyIDAgMCAuNjctLjIxIDIuMi44Mi42NC0uMTggMS4zMi0uMjcgMi0uMjcuNjggMCAxLjM2LjA5IDIgLjI3IDEuNTMtMS4wNCAyLjItLjgyIDIuMi0uODIuNDQgMS4xLjE2IDEuOTIuMDggMi4xMi41MS41Ni44MiAxLjI3LjgyIDIuMTUgMCAzLjA3LTEuODcgMy43NS0zLjY1IDMuOTUuMjkuMjUuNTQuNzMuNTQgMS40OCAwIDEuMDctLjAxIDEuOTMtLjAxIDIuMiAwIC4yMS4xNS40Ni41NS4zOEE4LjAxMyA4LjAxMyAwIDAwMTYgOGMwLTQuNDItMy41OC04LTgtOHoiLz48L3N2Zz4=")
    0 0 / contain;
  content: "";
  display: inline-flex;
  height: 24px;
  width: 24px;
  color: var(--ifm-navbar-link-color);
}

.header-slack-link {
  align-items: center;
  display: flex;
}

.header-slack-link:before {
  align-self: center;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJfeDMzXzA2LXNsYWNrIj48Zz48cGF0aCBkPSJNMTIyLjY0MywzMTYuNjgyYzAsMjYuNTk2LTIxLjcyNyw0OC4zMjMtNDguMzIxLDQ4LjMyM2MtMjYuNTkzLDAtNDguMzE5LTIxLjcyOC00OC4zMTktNDguMzIzICAgIGMwLTI2LjU5MiwyMS43MjctNDguMzE4LDQ4LjMxOS00OC4zMThoNDguMzIxVjMxNi42ODJ6IiBzdHlsZT0iZmlsbDojRTAxRTVBOyIvPjxwYXRoIGQ9Ik0xNDYuOTk2LDMxNi42ODJjMC0yNi41OTIsMjEuNzI4LTQ4LjMxOCw0OC4zMjEtNDguMzE4YzI2LjU5MywwLDQ4LjMyLDIxLjcyNyw0OC4zMiw0OC4zMThWNDM3LjY4ICAgIGMwLDI2LjU5Mi0yMS43MjgsNDguMzE5LTQ4LjMyLDQ4LjMxOWMtMjYuNTk0LDAtNDguMzIxLTIxLjcyOC00OC4zMjEtNDguMzE5VjMxNi42ODJ6IiBzdHlsZT0iZmlsbDojRTAxRTVBOyIvPjxwYXRoIGQ9Ik0xOTUuMzE3LDEyMi42NDNjLTI2LjU5NCwwLTQ4LjMyMS0yMS43MjgtNDguMzIxLTQ4LjMyMWMwLTI2LjU5MywyMS43MjgtNDguMzIsNDguMzIxLTQ4LjMyICAgIGMyNi41OTMsMCw0OC4zMiwyMS43MjgsNDguMzIsNDguMzJ2NDguMzIxSDE5NS4zMTdMMTk1LjMxNywxMjIuNjQzeiIgc3R5bGU9ImZpbGw6IzM2QzVGMDsiLz48cGF0aCBkPSJNMTk1LjMxNywxNDYuOTk3YzI2LjU5MywwLDQ4LjMyLDIxLjcyNyw0OC4zMiw0OC4zMjFjMCwyNi41OTMtMjEuNzI4LDQ4LjMxOC00OC4zMiw0OC4zMThINzQuMzIxICAgIGMtMjYuNTkzLDAtNDguMzE5LTIxLjcyNi00OC4zMTktNDguMzE4YzAtMjYuNTk1LDIxLjcyNy00OC4zMjEsNDguMzE5LTQ4LjMyMUgxOTUuMzE3TDE5NS4zMTcsMTQ2Ljk5N3oiIHN0eWxlPSJmaWxsOiMzNkM1RjA7Ii8+PHBhdGggZD0iTTM4OS4zNTksMTk1LjMxOGMwLTI2LjU5NSwyMS43MjUtNDguMzIxLDQ4LjMyLTQ4LjMyMWMyNi41OTMsMCw0OC4zMTgsMjEuNzI3LDQ4LjMxOCw0OC4zMjEgICAgYzAsMjYuNTkzLTIxLjcyNiw0OC4zMTgtNDguMzE4LDQ4LjMxOGgtNDguMzJWMTk1LjMxOEwzODkuMzU5LDE5NS4zMTh6IiBzdHlsZT0iZmlsbDojMkVCNjdEOyIvPjxwYXRoIGQ9Ik0zNjUuMDA0LDE5NS4zMThjMCwyNi41OTMtMjEuNzI4LDQ4LjMxOC00OC4zMjEsNDguMzE4Yy0yNi41OTMsMC00OC4zMi0yMS43MjYtNDguMzItNDguMzE4ICAgIFY3NC4zMjFjMC0yNi41OTMsMjEuNzI4LTQ4LjMyLDQ4LjMyLTQ4LjMyYzI2LjU5NCwwLDQ4LjMyMSwyMS43MjgsNDguMzIxLDQ4LjMyVjE5NS4zMThMMzY1LjAwNCwxOTUuMzE4eiIgc3R5bGU9ImZpbGw6IzJFQjY3RDsiLz48cGF0aCBkPSJNMzE2LjY4MywzODkuMzU4YzI2LjU5NCwwLDQ4LjMyMSwyMS43MjcsNDguMzIxLDQ4LjMyMWMwLDI2LjU5Mi0yMS43MjgsNDguMzE5LTQ4LjMyMSw0OC4zMTkgICAgYy0yNi41OTMsMC00OC4zMi0yMS43MjgtNDguMzItNDguMzE5di00OC4zMjFIMzE2LjY4M3oiIHN0eWxlPSJmaWxsOiNFQ0IyMkU7Ii8+PHBhdGggZD0iTTMxNi42ODMsMzY1LjAwNWMtMjYuNTkzLDAtNDguMzItMjEuNzI4LTQ4LjMyLTQ4LjMyM2MwLTI2LjU5MiwyMS43MjgtNDguMzE4LDQ4LjMyLTQ4LjMxOEg0MzcuNjggICAgYzI2LjU5MywwLDQ4LjMxOCwyMS43MjcsNDguMzE4LDQ4LjMxOGMwLDI2LjU5Ni0yMS43MjYsNDguMzIzLTQ4LjMxOCw0OC4zMjNIMzE2LjY4M3oiIHN0eWxlPSJmaWxsOiNFQ0IyMkU7Ii8+PC9nPjwvZz48ZyBpZD0iTGF5ZXJfMSIvPjwvc3ZnPg==")
    0 0 / contain;
  content: "";
  display: inline-flex;
  height: 24px;
  width: 24px;
  color: var(--ifm-navbar-link-color);
}

.tooltip {
  max-width: 420px;
}
