openapi: 3.0.1
info:
  title: Port API
  version: '1.0'
servers:
  - url: https://api.getport.io
  - url: https://api.us.getport.io
components:
  securitySchemes:
    bearer:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    def-0:
      type: object
      properties:
        combinator:
          enum:
            - and
            - or
        rules:
          type: array
          items:
            anyOf:
              - type: object
                title: Number rule
                properties:
                  property:
                    type: string
                  operator:
                    enum:
                      - '>'
                      - '>='
                      - <
                      - <=
                  value:
                    type:
                      - number
                required:
                  - property
                  - operator
                  - value
                additionalProperties: false
              - type: object
                title: Date rule
                properties:
                  property:
                    type: string
                  operator:
                    enum:
                      - between
                      - notBetween
                      - =
                  value:
                    type: object
                    oneOf:
                      - type: object
                        title: Date range
                        properties:
                          from:
                            type: string
                            format: date-time
                          to:
                            type: string
                            format: date-time
                        required:
                          - from
                          - to
                      - type: object
                        title: Date preset
                        properties:
                          preset:
                            type: string
                            enum:
                              - today
                              - tomorrow
                              - yesterday
                              - lastWeek
                              - last2Weeks
                              - lastMonth
                              - last3Months
                              - last6Months
                              - last12Months
                        required:
                          - preset
                required:
                  - property
                  - operator
                  - value
                additionalProperties: false
              - type: object
                title: String rule
                properties:
                  property:
                    type: string
                  operator:
                    enum:
                      - =
                      - '!='
                      - containsAny
                      - contains
                      - doesNotContain
                      - beginsWith
                      - doesNotBeginWith
                      - endsWith
                      - doesNotEndWith
                      - in
                      - notIn
                  value:
                    anyOf:
                      # - type: 'null'
                      - type: string
                        title: string
                      - type: number
                        title: number
                      - type: boolean
                        title: boolean
                      - type: array
                        title: array
                        items:
                          type: string
                      - type: string
                        title: date-time
                        format: date-time
                additionalProperties: false
                required:
                  - property
                  - operator
                  - value
              - type: object
                title: Empty rule
                properties:
                  operator:
                    enum:
                      - isEmpty
                      - isNotEmpty
                  property:
                    type: string
                required:
                  - operator
                  - property
                additionalProperties: false
              - type: object
                title: Relation rule
                properties:
                  operator:
                    enum:
                      - relatedTo
                  blueprint:
                    type: string
                  value:
                    type: string
                  direction:
                    enum:
                      - upstream
                      - downstream
                  required:
                    type: boolean
                additionalProperties: false
                required:
                  - operator
                  - value
                  - blueprint
              - type: object
                title: Property rule
                properties:
                  propertySchema:
                    type: object
                    properties:
                      type:
                        type: string
                      format:
                        type: string
                    required:
                      - type
                    additionalProperties: false
                  operator:
                    enum:
                      - =
                      - '!='
                  value:
                    anyOf:
                      # - type: 'null'
                      - type: string
                        title: string
                      - type: number
                        title: number
                      - type: boolean
                        title: boolean
                required:
                  - operator
                  - propertySchema
                additionalProperties: false
              - $ref: '#/components/schemas/def-0'
      required:
        - combinator
        - rules
      additionalProperties: false
      title: object
    def-1:
      type: object
      properties:
        id:
          type: string
        updatedAt:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
        createdBy:
          type: string
        type:
          type: string
          enum:
            - dashboard-widget
        layout:
          type: array
          items:
            type: object
            properties:
              height:
                type: number
              columns:
                type: array
                items:
                  type: object
                  properties:
                    size:
                      type: number
                    id:
                      type: string
                  additionalProperties: false
                  required:
                    - size
                    - id
            additionalProperties: false
            required:
              - columns
              - height
        widgets:
          type: array
          items:
            type: object
            anyOf:
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - entity-info
                  title:
                    type: string
                  entity:
                    type: string
                  hiddenQuery:
                    type: array
                    items:
                      type: string
                  blueprint:
                    type: string
                additionalProperties: false
                required:
                  - type
                  - entity
                  - blueprint
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - action-runs-table-widget
                  icon:
                    type: string
                  description:
                    type: string
                    maxLength: 200
                  title:
                    type: string
                  displayMode:
                    type: string
                    enum:
                      - single
                      - widget
                  blueprint:
                    type: string
                  action:
                    type: string
                  tableConfig:
                    type: object
                    properties:
                      filterSettings:
                        type: object
                        properties:
                          filterBy:
                            $ref: '#/components/schemas/def-0'
                        additionalProperties: false
                        required:
                          - filterBy
                      groupSettings:
                        type: object
                        properties:
                          groupBy:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                        required:
                          - groupBy
                      sortSettings:
                        type: object
                        properties:
                          sortBy:
                            type: array
                            items:
                              type: object
                              properties:
                                property:
                                  type: string
                                order:
                                  enum:
                                    - asc
                                    - desc
                              additionalProperties: false
                              required:
                                - property
                                - order
                        additionalProperties: false
                      propertiesSettings:
                        type: object
                        properties:
                          hidden:
                            type: array
                            items:
                              type: string
                          order:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                    additionalProperties: false
                additionalProperties: false
                required:
                  - type
                  - action
                  - blueprint
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - table-entities-explorer
                  icon:
                    type: string
                  description:
                    type: string
                    maxLength: 200
                  title:
                    type: string
                  dataset:
                    $ref: '#/components/schemas/def-0'
                  excludedFields:
                    type: array
                    items:
                      type: string
                  displayMode:
                    type: string
                    enum:
                      - tabs
                      - single
                      - widget
                  blueprintConfig:
                    type: object
                    propertyNames:
                      pattern: '^[A-Za-z0-9@_.:\\/=-]+$'
                    additionalProperties:
                      type: object
                      properties:
                        filterSettings:
                          type: object
                          properties:
                            filterBy:
                              $ref: '#/components/schemas/def-0'
                          additionalProperties: false
                          required:
                            - filterBy
                        groupSettings:
                          type: object
                          properties:
                            groupBy:
                              type: array
                              items:
                                type: string
                          additionalProperties: false
                          required:
                            - groupBy
                        sortSettings:
                          type: object
                          properties:
                            sortBy:
                              type: array
                              items:
                                type: object
                                properties:
                                  property:
                                    type: string
                                  order:
                                    enum:
                                      - asc
                                      - desc
                                additionalProperties: false
                                required:
                                  - property
                                  - order
                          additionalProperties: false
                        propertiesSettings:
                          type: object
                          properties:
                            hidden:
                              type: array
                              items:
                                type: string
                            order:
                              type: array
                              items:
                                type: string
                          additionalProperties: false
                        tabIndex:
                          type: number
                        hidden:
                          type: boolean
                        title:
                          type: string
                          maxLength: 20
                        description:
                          type: string
                          maxLength: 200
                      additionalProperties: false
                additionalProperties: false
                required:
                  - type
                  - dataset
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - table-entities-explorer-by-direction
                  title:
                    type: string
                  blueprintConfig:
                    type: object
                    propertyNames:
                      pattern: >-
                        ^[A-Za-z0-9@_.:\\/=-]*\$(upstream|downstream|custom)(\$[A-Za-z0-9@_.:\\/=-]+)*$
                    additionalProperties:
                      type: object
                      properties:
                        filterSettings:
                          type: object
                          properties:
                            filterBy:
                              $ref: '#/components/schemas/def-0'
                          additionalProperties: false
                          required:
                            - filterBy
                        groupSettings:
                          type: object
                          properties:
                            groupBy:
                              type: array
                              items:
                                type: string
                          additionalProperties: false
                          required:
                            - groupBy
                        sortSettings:
                          type: object
                          properties:
                            sortBy:
                              type: array
                              items:
                                type: object
                                properties:
                                  property:
                                    type: string
                                  order:
                                    enum:
                                      - asc
                                      - desc
                                additionalProperties: false
                                required:
                                  - property
                                  - order
                          additionalProperties: false
                        propertiesSettings:
                          type: object
                          properties:
                            hidden:
                              type: array
                              items:
                                type: string
                            order:
                              type: array
                              items:
                                type: string
                          additionalProperties: false
                        tabIndex:
                          type: number
                        hidden:
                          type: boolean
                        title:
                          type: string
                          maxLength: 20
                        description:
                          type: string
                          maxLength: 200
                        dataset:
                          $ref: '#/components/schemas/def-0'
                        targetBlueprint:
                          type: string
                        relatedProperty:
                          type: string
                      additionalProperties: false
                additionalProperties: false
                required:
                  - type
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - table-audit-log
                  title:
                    type: string
                  description:
                    type: string
                  query:
                    type: object
                    properties:
                      identifier:
                        type: string
                      entity:
                        type: string
                      blueprint:
                        type: string
                      run_id:
                        type: string
                      webhookId:
                        type: string
                      webhookEventId:
                        type: string
                      origin:
                        type: array
                        items:
                          type: string
                      InstallationId:
                        type: string
                      resources:
                        anyOf:
                          - type: array
                            items:
                              enum:
                                - blueprint
                                - entity
                                - run
                                - webhook
                                - scorecard
                                - action
                          - type: string
                            enum:
                              - blueprint
                              - entity
                              - run
                              - webhook
                              - scorecard
                              - action
                      includes:
                        type: array
                        items:
                          enum:
                            - action
                            - context
                            - diff
                            - identifier
                            - resourceType
                            - status
                            - trigger
                            - additionalData
                            - message
                      from:
                        type: string
                        format: date-time
                        description: 'ISO format IE 2022-04-23T18:25:43.511Z'
                      to:
                        type: string
                        format: date-time
                        description: 'ISO format 2022-04-23T18:25:43.511Z'
                      action:
                        type: string
                      status:
                        type: string
                        enum:
                          - SUCCESS
                          - FAILURE
                      limit:
                        type: number
                    additionalProperties: false
                  tableConfig:
                    type: object
                    properties:
                      filterSettings:
                        type: object
                        properties:
                          filterBy:
                            $ref: '#/components/schemas/def-0'
                        additionalProperties: false
                        required:
                          - filterBy
                      groupSettings:
                        type: object
                        properties:
                          groupBy:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                        required:
                          - groupBy
                      sortSettings:
                        type: object
                        properties:
                          sortBy:
                            type: array
                            items:
                              type: object
                              properties:
                                property:
                                  type: string
                                order:
                                  enum:
                                    - asc
                                    - desc
                              additionalProperties: false
                              required:
                                - property
                                - order
                        additionalProperties: false
                      propertiesSettings:
                        type: object
                        properties:
                          hidden:
                            type: array
                            items:
                              type: string
                          order:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                additionalProperties: false
                required:
                  - type
                  - query
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - users-table
                  title:
                    type: string
                  query:
                    type: object
                    properties:
                      team:
                        type: string
                  tableConfig:
                    type: object
                    properties:
                      filterSettings:
                        type: object
                        properties:
                          filterBy:
                            $ref: '#/components/schemas/def-0'
                        additionalProperties: false
                        required:
                          - filterBy
                      groupSettings:
                        type: object
                        properties:
                          groupBy:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                        required:
                          - groupBy
                      sortSettings:
                        type: object
                        properties:
                          sortBy:
                            type: array
                            items:
                              type: object
                              properties:
                                property:
                                  type: string
                                order:
                                  enum:
                                    - asc
                                    - desc
                              additionalProperties: false
                              required:
                                - property
                                - order
                        additionalProperties: false
                      propertiesSettings:
                        type: object
                        properties:
                          hidden:
                            type: array
                            items:
                              type: string
                          order:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                additionalProperties: false
                required:
                  - type
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - teams-table
                  title:
                    type: string
                  query:
                    type: object
                    properties:
                      user:
                        type: string
                  tableConfig:
                    type: object
                    properties:
                      filterSettings:
                        type: object
                        properties:
                          filterBy:
                            $ref: '#/components/schemas/def-0'
                        additionalProperties: false
                        required:
                          - filterBy
                      groupSettings:
                        type: object
                        properties:
                          groupBy:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                        required:
                          - groupBy
                      sortSettings:
                        type: object
                        properties:
                          sortBy:
                            type: array
                            items:
                              type: object
                              properties:
                                property:
                                  type: string
                                order:
                                  enum:
                                    - asc
                                    - desc
                              additionalProperties: false
                              required:
                                - property
                                - order
                        additionalProperties: false
                      propertiesSettings:
                        type: object
                        properties:
                          hidden:
                            type: array
                            items:
                              type: string
                          order:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                additionalProperties: false
                required:
                  - type
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - runs-table
                  title:
                    type: string
                  query:
                    type: object
                    properties:
                      entity:
                        type: string
                      blueprint:
                        type: string
                      active:
                        type: boolean
                      user_email:
                        type: string
                      limit:
                        type: number
                        minimum: 1
                        maximum: 50
                      external_run_id:
                        type: string
                      version:
                        type: string
                        enum:
                          - v1
                          - v2
                    additionalProperties: false
                  tableConfig:
                    type: object
                    properties:
                      filterSettings:
                        type: object
                        properties:
                          filterBy:
                            $ref: '#/components/schemas/def-0'
                        additionalProperties: false
                        required:
                          - filterBy
                      groupSettings:
                        type: object
                        properties:
                          groupBy:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                        required:
                          - groupBy
                      sortSettings:
                        type: object
                        properties:
                          sortBy:
                            type: array
                            items:
                              type: object
                              properties:
                                property:
                                  type: string
                                order:
                                  enum:
                                    - asc
                                    - desc
                              additionalProperties: false
                              required:
                                - property
                                - order
                        additionalProperties: false
                      propertiesSettings:
                        type: object
                        properties:
                          hidden:
                            type: array
                            items:
                              type: string
                          order:
                            type: array
                            items:
                              type: string
                        additionalProperties: false
                additionalProperties: false
                required:
                  - type
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - run-info
                  title:
                    type: string
                  runId:
                    type: string
                additionalProperties: false
                required:
                  - type
                  - runId
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - user-info
                  title:
                    type: string
                  user_email:
                    type: string
                additionalProperties: false
                required:
                  - type
                  - user_email
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - graph-entities-explorer
                  title:
                    type: string
                  dataset:
                    $ref: '#/components/schemas/def-0'
                  hiddenBlueprints:
                    type: array
                    items:
                      type: string
                additionalProperties: false
                required:
                  - type
                  - dataset
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  icon:
                    type: string
                  type:
                    enum:
                      - entities-pie-chart
                  title:
                    type: string
                  property:
                    type: string
                  description:
                    type: string
                  dataset:
                    $ref: '#/components/schemas/def-0'
                additionalProperties: false
                required:
                  - type
                  - dataset
                  - property
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    type: string
                    enum:
                      - entities-number-chart
                  dataset:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          properties:
                            property:
                              type: string
                            operator:
                              enum:
                                - '>'
                                - '>='
                                - <
                                - <=
                            value:
                              type:
                                - number
                          required:
                            - property
                            - operator
                            - value
                          additionalProperties: false
                        - type: object
                          properties:
                            property:
                              type: string
                            operator:
                              enum:
                                - between
                                - notBetween
                                - =
                            value:
                              type: object
                              oneOf:
                                - type: object
                                  properties:
                                    from:
                                      type: string
                                      format: date-time
                                    to:
                                      type: string
                                      format: date-time
                                  required:
                                    - from
                                    - to
                                - type: object
                                  properties:
                                    preset:
                                      type: string
                                      enum:
                                        - today
                                        - tomorrow
                                        - yesterday
                                        - lastWeek
                                        - last2Weeks
                                        - lastMonth
                                        - last3Months
                                        - last6Months
                                        - last12Months
                                  required:
                                    - preset
                          required:
                            - property
                            - operator
                            - value
                          additionalProperties: false
                        - type: object
                          properties:
                            property:
                              type: string
                            operator:
                              enum:
                                - =
                                - '!='
                                - containsAny
                                - contains
                                - doesNotContain
                                - beginsWith
                                - doesNotBeginWith
                                - endsWith
                                - doesNotEndWith
                                - in
                                - notIn
                            value:
                              anyOf:
                                - type: 'null'
                                - type: string
                                - type: number
                                - type: boolean
                                - type: array
                                  items:
                                    type: string
                                - type: string
                                  format: date-time
                          additionalProperties: false
                          required:
                            - property
                            - operator
                            - value
                        - type: object
                          properties:
                            operator:
                              enum:
                                - isEmpty
                                - isNotEmpty
                            property:
                              type: string
                          required:
                            - operator
                            - property
                          additionalProperties: false
                        - type: object
                          properties:
                            operator:
                              enum:
                                - relatedTo
                            blueprint:
                              type: string
                            value:
                              type: string
                            direction:
                              enum:
                                - upstream
                                - downstream
                            required:
                              type: boolean
                          additionalProperties: false
                          required:
                            - operator
                            - value
                            - blueprint
                        - type: object
                          properties:
                            propertySchema:
                              type: object
                              properties:
                                type:
                                  type: string
                                format:
                                  type: string
                              required:
                                - type
                              additionalProperties: false
                            operator:
                              enum:
                                - =
                                - '!='
                            value:
                              anyOf:
                                - type: 'null'
                                - type: string
                                - type: number
                                - type: boolean
                          required:
                            - operator
                            - propertySchema
                          additionalProperties: false
                        - $ref: '#/components/schemas/def-0'
                  title:
                    type: string
                  icon:
                    type: string
                  description:
                    type: string
                  unit:
                    type: string
                    enum:
                      - none
                      - $
                      - €
                      - £
                      - '%'
                      - custom
                  unitAlignment:
                    type: string
                    enum:
                      - left
                      - right
                  calculationBy:
                    type: string
                    enum:
                      - entities
                      - property
                required:
                  - type
                  - dataset
                  - unit
                  - calculationBy
                allOf:
                  - properties:
                      property:
                        type: string
                      func:
                        type: string
                        enum:
                          - sum
                          - average
                          - min
                          - max
                          - median
                    required:
                      - property
                      - func
                  - properties:
                      func:
                        type: string
                        enum:
                          - average
                          - count
                    required:
                      - func
                  - properties:
                      averageOf:
                        type: string
                        enum:
                          - hour
                          - day
                          - week
                          - month
                          - total
                      measureTimeBy:
                        type: string
                    required:
                      - averageOf
                  - properties:
                      unitCustom:
                        type: string
                    required:
                      - unitCustom
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    type: string
                    enum:
                      - iframe-widget
                  title:
                    type: string
                  icon:
                    type: string
                  description:
                    type: string
                  url:
                    type: string
                    format: url
                  urlType:
                    type: string
                    enum:
                      - public
                      - protected
                required:
                  - type
                  - url
                  - urlType
                  - title
                allOf:
                  - properties:
                      tokenUrl:
                        type: string
                        format: url
                      authorizationUrl:
                        type: string
                        format: url
                      clientId:
                        type: string
                      scopes:
                        type: array
                        items:
                          type: string
                    required:
                      - tokenUrl
                      - authorizationUrl
                      - clientId
                      - scopes
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    type: string
                    enum:
                      - markdown
                  title:
                    type: string
                  icon:
                    type: string
                  markdown:
                    type: string
                required:
                  - type
                  - title
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    enum:
                      - team-info
                  title:
                    type: string
                  team_name:
                    type: string
                additionalProperties: false
                required:
                  - type
                  - team_name
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    type: string
                    enum:
                      - recently-viewed-entities
                  title:
                    type: string
                  icon:
                    type: string
                required:
                  - type
                  - title
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    type: string
                    enum:
                      - recently-used-actions
                  title:
                    type: string
                  icon:
                    type: string
                required:
                  - type
                  - title
              - type: object
                properties:
                  id:
                    type: string
                  updatedAt:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  createdBy:
                    type: string
                  type:
                    type: string
                    enum:
                      - my-entities
                  title:
                    type: string
                  icon:
                    type: string
                required:
                  - type
                  - title
      additionalProperties: false
      required:
        - type
        - layout
        - widgets
      title: /schemas/dashboardWidget
    def-2:
      type: object
      properties:
        id:
          type: string
        updatedAt:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
        createdBy:
          type: string
        type:
          type: string
          enum:
            - grouper
        title:
          type: string
        displayMode:
          type: string
          enum:
            - tabs
            - switch
        activeGroupUrlParam:
          type: string
        groupsOrder:
          type: array
          items:
            type: string
        groups:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              icon:
                type: string
              widgets:
                type: array
                items:
                  anyOf:
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - entity-info
                        title:
                          type: string
                        entity:
                          type: string
                        hiddenQuery:
                          type: array
                          items:
                            type: string
                        blueprint:
                          type: string
                      additionalProperties: false
                      required:
                        - type
                        - entity
                        - blueprint
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - action-runs-table-widget
                        icon:
                          type: string
                        description:
                          type: string
                          maxLength: 200
                        title:
                          type: string
                        displayMode:
                          type: string
                          enum:
                            - single
                            - widget
                        blueprint:
                          type: string
                        action:
                          type: string
                        tableConfig:
                          type: object
                          properties:
                            filterSettings:
                              type: object
                              properties:
                                filterBy:
                                  $ref: '#/components/schemas/def-0'
                              additionalProperties: false
                              required:
                                - filterBy
                            groupSettings:
                              type: object
                              properties:
                                groupBy:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                              required:
                                - groupBy
                            sortSettings:
                              type: object
                              properties:
                                sortBy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      property:
                                        type: string
                                      order:
                                        enum:
                                          - asc
                                          - desc
                                    additionalProperties: false
                                    required:
                                      - property
                                      - order
                              additionalProperties: false
                            propertiesSettings:
                              type: object
                              properties:
                                hidden:
                                  type: array
                                  items:
                                    type: string
                                order:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                          additionalProperties: false
                      additionalProperties: false
                      required:
                        - type
                        - action
                        - blueprint
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - table-entities-explorer
                        icon:
                          type: string
                        description:
                          type: string
                          maxLength: 200
                        title:
                          type: string
                        dataset:
                          $ref: '#/components/schemas/def-0'
                        excludedFields:
                          type: array
                          items:
                            type: string
                        displayMode:
                          type: string
                          enum:
                            - tabs
                            - single
                            - widget
                        blueprintConfig:
                          type: object
                          propertyNames:
                            pattern: '^[A-Za-z0-9@_.:\\/=-]+$'
                          additionalProperties:
                            type: object
                            properties:
                              filterSettings:
                                type: object
                                properties:
                                  filterBy:
                                    $ref: '#/components/schemas/def-0'
                                additionalProperties: false
                                required:
                                  - filterBy
                              groupSettings:
                                type: object
                                properties:
                                  groupBy:
                                    type: array
                                    items:
                                      type: string
                                additionalProperties: false
                                required:
                                  - groupBy
                              sortSettings:
                                type: object
                                properties:
                                  sortBy:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        property:
                                          type: string
                                        order:
                                          enum:
                                            - asc
                                            - desc
                                      additionalProperties: false
                                      required:
                                        - property
                                        - order
                                additionalProperties: false
                              propertiesSettings:
                                type: object
                                properties:
                                  hidden:
                                    type: array
                                    items:
                                      type: string
                                  order:
                                    type: array
                                    items:
                                      type: string
                                additionalProperties: false
                              tabIndex:
                                type: number
                              hidden:
                                type: boolean
                              title:
                                type: string
                                maxLength: 20
                              description:
                                type: string
                                maxLength: 200
                            additionalProperties: false
                      additionalProperties: false
                      required:
                        - type
                        - dataset
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - table-entities-explorer-by-direction
                        title:
                          type: string
                        blueprintConfig:
                          type: object
                          propertyNames:
                            pattern: >-
                              ^[A-Za-z0-9@_.:\\/=-]*\$(upstream|downstream|custom)(\$[A-Za-z0-9@_.:\\/=-]+)*$
                          additionalProperties:
                            type: object
                            properties:
                              filterSettings:
                                type: object
                                properties:
                                  filterBy:
                                    $ref: '#/components/schemas/def-0'
                                additionalProperties: false
                                required:
                                  - filterBy
                              groupSettings:
                                type: object
                                properties:
                                  groupBy:
                                    type: array
                                    items:
                                      type: string
                                additionalProperties: false
                                required:
                                  - groupBy
                              sortSettings:
                                type: object
                                properties:
                                  sortBy:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        property:
                                          type: string
                                        order:
                                          enum:
                                            - asc
                                            - desc
                                      additionalProperties: false
                                      required:
                                        - property
                                        - order
                                additionalProperties: false
                              propertiesSettings:
                                type: object
                                properties:
                                  hidden:
                                    type: array
                                    items:
                                      type: string
                                  order:
                                    type: array
                                    items:
                                      type: string
                                additionalProperties: false
                              tabIndex:
                                type: number
                              hidden:
                                type: boolean
                              title:
                                type: string
                                maxLength: 20
                              description:
                                type: string
                                maxLength: 200
                              dataset:
                                $ref: '#/components/schemas/def-0'
                              targetBlueprint:
                                type: string
                              relatedProperty:
                                type: string
                            additionalProperties: false
                      additionalProperties: false
                      required:
                        - type
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - table-audit-log
                        title:
                          type: string
                        description:
                          type: string
                        query:
                          type: object
                          properties:
                            identifier:
                              type: string
                            entity:
                              type: string
                            blueprint:
                              type: string
                            run_id:
                              type: string
                            webhookId:
                              type: string
                            webhookEventId:
                              type: string
                            origin:
                              type: array
                              items:
                                type: string
                            InstallationId:
                              type: string
                            resources:
                              anyOf:
                                - type: array
                                  items:
                                    enum:
                                      - blueprint
                                      - entity
                                      - run
                                      - webhook
                                      - scorecard
                                      - action
                                - type: string
                                  enum:
                                    - blueprint
                                    - entity
                                    - run
                                    - webhook
                                    - scorecard
                                    - action
                            includes:
                              type: array
                              items:
                                enum:
                                  - action
                                  - context
                                  - diff
                                  - identifier
                                  - resourceType
                                  - status
                                  - trigger
                                  - additionalData
                                  - message
                            from:
                              type: string
                              format: date-time
                              description: 'ISO format IE 2022-04-23T18:25:43.511Z'
                            to:
                              type: string
                              format: date-time
                              description: 'ISO format 2022-04-23T18:25:43.511Z'
                            action:
                              type: string
                            status:
                              type: string
                              enum:
                                - SUCCESS
                                - FAILURE
                            limit:
                              type: number
                          additionalProperties: false
                        tableConfig:
                          type: object
                          properties:
                            filterSettings:
                              type: object
                              properties:
                                filterBy:
                                  $ref: '#/components/schemas/def-0'
                              additionalProperties: false
                              required:
                                - filterBy
                            groupSettings:
                              type: object
                              properties:
                                groupBy:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                              required:
                                - groupBy
                            sortSettings:
                              type: object
                              properties:
                                sortBy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      property:
                                        type: string
                                      order:
                                        enum:
                                          - asc
                                          - desc
                                    additionalProperties: false
                                    required:
                                      - property
                                      - order
                              additionalProperties: false
                            propertiesSettings:
                              type: object
                              properties:
                                hidden:
                                  type: array
                                  items:
                                    type: string
                                order:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                      additionalProperties: false
                      required:
                        - type
                        - query
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - users-table
                        title:
                          type: string
                        query:
                          type: object
                          properties:
                            team:
                              type: string
                        tableConfig:
                          type: object
                          properties:
                            filterSettings:
                              type: object
                              properties:
                                filterBy:
                                  $ref: '#/components/schemas/def-0'
                              additionalProperties: false
                              required:
                                - filterBy
                            groupSettings:
                              type: object
                              properties:
                                groupBy:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                              required:
                                - groupBy
                            sortSettings:
                              type: object
                              properties:
                                sortBy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      property:
                                        type: string
                                      order:
                                        enum:
                                          - asc
                                          - desc
                                    additionalProperties: false
                                    required:
                                      - property
                                      - order
                              additionalProperties: false
                            propertiesSettings:
                              type: object
                              properties:
                                hidden:
                                  type: array
                                  items:
                                    type: string
                                order:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                      additionalProperties: false
                      required:
                        - type
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - teams-table
                        title:
                          type: string
                        query:
                          type: object
                          properties:
                            user:
                              type: string
                        tableConfig:
                          type: object
                          properties:
                            filterSettings:
                              type: object
                              properties:
                                filterBy:
                                  $ref: '#/components/schemas/def-0'
                              additionalProperties: false
                              required:
                                - filterBy
                            groupSettings:
                              type: object
                              properties:
                                groupBy:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                              required:
                                - groupBy
                            sortSettings:
                              type: object
                              properties:
                                sortBy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      property:
                                        type: string
                                      order:
                                        enum:
                                          - asc
                                          - desc
                                    additionalProperties: false
                                    required:
                                      - property
                                      - order
                              additionalProperties: false
                            propertiesSettings:
                              type: object
                              properties:
                                hidden:
                                  type: array
                                  items:
                                    type: string
                                order:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                      additionalProperties: false
                      required:
                        - type
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - runs-table
                        title:
                          type: string
                        query:
                          type: object
                          properties:
                            entity:
                              type: string
                            blueprint:
                              type: string
                            active:
                              type: boolean
                            user_email:
                              type: string
                            limit:
                              type: number
                              minimum: 1
                              maximum: 50
                            external_run_id:
                              type: string
                            version:
                              type: string
                              enum:
                                - v1
                                - v2
                          additionalProperties: false
                        tableConfig:
                          type: object
                          properties:
                            filterSettings:
                              type: object
                              properties:
                                filterBy:
                                  $ref: '#/components/schemas/def-0'
                              additionalProperties: false
                              required:
                                - filterBy
                            groupSettings:
                              type: object
                              properties:
                                groupBy:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                              required:
                                - groupBy
                            sortSettings:
                              type: object
                              properties:
                                sortBy:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      property:
                                        type: string
                                      order:
                                        enum:
                                          - asc
                                          - desc
                                    additionalProperties: false
                                    required:
                                      - property
                                      - order
                              additionalProperties: false
                            propertiesSettings:
                              type: object
                              properties:
                                hidden:
                                  type: array
                                  items:
                                    type: string
                                order:
                                  type: array
                                  items:
                                    type: string
                              additionalProperties: false
                      additionalProperties: false
                      required:
                        - type
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - run-info
                        title:
                          type: string
                        runId:
                          type: string
                      additionalProperties: false
                      required:
                        - type
                        - runId
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - user-info
                        title:
                          type: string
                        user_email:
                          type: string
                      additionalProperties: false
                      required:
                        - type
                        - user_email
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          enum:
                            - graph-entities-explorer
                        title:
                          type: string
                        dataset:
                          $ref: '#/components/schemas/def-0'
                        hiddenBlueprints:
                          type: array
                          items:
                            type: string
                      additionalProperties: false
                      required:
                        - type
                        - dataset
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        icon:
                          type: string
                        type:
                          enum:
                            - entities-pie-chart
                        title:
                          type: string
                        property:
                          type: string
                        description:
                          type: string
                        dataset:
                          $ref: '#/components/schemas/def-0'
                      additionalProperties: false
                      required:
                        - type
                        - dataset
                        - property
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          type: string
                          enum:
                            - entities-number-chart
                        dataset:
                          type: array
                          items:
                            anyOf:
                              - type: object
                                properties:
                                  property:
                                    type: string
                                  operator:
                                    enum:
                                      - '>'
                                      - '>='
                                      - <
                                      - <=
                                  value:
                                    type:
                                      - number
                                required:
                                  - property
                                  - operator
                                  - value
                                additionalProperties: false
                              - type: object
                                properties:
                                  property:
                                    type: string
                                  operator:
                                    enum:
                                      - between
                                      - notBetween
                                      - =
                                  value:
                                    type: object
                                    oneOf:
                                      - type: object
                                        properties:
                                          from:
                                            type: string
                                            format: date-time
                                          to:
                                            type: string
                                            format: date-time
                                        required:
                                          - from
                                          - to
                                      - type: object
                                        properties:
                                          preset:
                                            type: string
                                            enum:
                                              - today
                                              - tomorrow
                                              - yesterday
                                              - lastWeek
                                              - last2Weeks
                                              - lastMonth
                                              - last3Months
                                              - last6Months
                                              - last12Months
                                        required:
                                          - preset
                                required:
                                  - property
                                  - operator
                                  - value
                                additionalProperties: false
                              - type: object
                                properties:
                                  property:
                                    type: string
                                  operator:
                                    enum:
                                      - =
                                      - '!='
                                      - containsAny
                                      - contains
                                      - doesNotContain
                                      - beginsWith
                                      - doesNotBeginWith
                                      - endsWith
                                      - doesNotEndWith
                                      - in
                                      - notIn
                                  value:
                                    anyOf:
                                      - type: 'null'
                                      - type: string
                                      - type: number
                                      - type: boolean
                                      - type: array
                                        items:
                                          type: string
                                      - type: string
                                        format: date-time
                                additionalProperties: false
                                required:
                                  - property
                                  - operator
                                  - value
                              - type: object
                                properties:
                                  operator:
                                    enum:
                                      - isEmpty
                                      - isNotEmpty
                                  property:
                                    type: string
                                required:
                                  - operator
                                  - property
                                additionalProperties: false
                              - type: object
                                properties:
                                  operator:
                                    enum:
                                      - relatedTo
                                  blueprint:
                                    type: string
                                  value:
                                    type: string
                                  direction:
                                    enum:
                                      - upstream
                                      - downstream
                                  required:
                                    type: boolean
                                additionalProperties: false
                                required:
                                  - operator
                                  - value
                                  - blueprint
                              - type: object
                                properties:
                                  propertySchema:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      format:
                                        type: string
                                    required:
                                      - type
                                    additionalProperties: false
                                  operator:
                                    enum:
                                      - =
                                      - '!='
                                  value:
                                    anyOf:
                                      - type: 'null'
                                      - type: string
                                      - type: number
                                      - type: boolean
                                required:
                                  - operator
                                  - propertySchema
                                additionalProperties: false
                              - $ref: '#/components/schemas/def-0'
                        title:
                          type: string
                        icon:
                          type: string
                        description:
                          type: string
                        unit:
                          type: string
                          enum:
                            - none
                            - $
                            - €
                            - £
                            - '%'
                            - custom
                        unitAlignment:
                          type: string
                          enum:
                            - left
                            - right
                        calculationBy:
                          type: string
                          enum:
                            - entities
                            - property
                      required:
                        - type
                        - dataset
                        - unit
                        - calculationBy
                      allOf:
                        - properties:
                            property:
                              type: string
                            func:
                              type: string
                              enum:
                                - sum
                                - average
                                - min
                                - max
                                - median
                          required:
                            - property
                            - func
                        - properties:
                            func:
                              type: string
                              enum:
                                - average
                                - count
                          required:
                            - func
                        - properties:
                            averageOf:
                              type: string
                              enum:
                                - hour
                                - day
                                - week
                                - month
                                - total
                            measureTimeBy:
                              type: string
                          required:
                            - averageOf
                        - properties:
                            unitCustom:
                              type: string
                          required:
                            - unitCustom
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          type: string
                          enum:
                            - iframe-widget
                        title:
                          type: string
                        icon:
                          type: string
                        description:
                          type: string
                        url:
                          type: string
                          format: url
                        urlType:
                          type: string
                          enum:
                            - public
                            - protected
                      required:
                        - type
                        - url
                        - urlType
                        - title
                      allOf:
                        - properties:
                            tokenUrl:
                              type: string
                              format: url
                            authorizationUrl:
                              type: string
                              format: url
                            clientId:
                              type: string
                            scopes:
                              type: array
                              items:
                                type: string
                          required:
                            - tokenUrl
                            - authorizationUrl
                            - clientId
                            - scopes
                    - type: object
                      properties:
                        id:
                          type: string
                        updatedAt:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                        createdBy:
                          type: string
                        type:
                          type: string
                          enum:
[...]
