name: Verify Docs Build

on:
  pull_request:
    types:
      - "opened"
      - "synchronize"
      - "reopened"
      - "ready_for_review"
      - "converted_to_draft"

jobs:
  build-docs:
    runs-on: ubuntu-latest
    name: Test successful production build
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
      - name: Install dependencies
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: npm
      - run: npm ci
      - name: Build
        run: npm run build
